
*{ 
     margin: 0;
     padding: 0; 
}


.cabecalho {
     background-color:  #1c4a1c ;
     color: white;
     display: flex;
     justify-content: space-around;
     padding: 24px 0; 
}
.cabecalho-image {
     width: 40%;

}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.escola-imagem {
     width: 30%;
}
.escola {
     background-image: linear-gradient(#1c4a1c,#18fb03);
     color: white;
     display: flex; 
     justify-content: center;
     align-items: center;
     padding: 24px 0;
     text-align: center;
}
.escola-conteudo {
     width: 35%;
 }
.escola-titulo {
     padding: 50px 5;
}
 body {
     font-family: 'Kaisei Tokumin', sans-serif ;
}
.estudante{
     text-align: center;
}
.estudante-todos{
     width: 30%;
}
.estudante-icone{
     width: 10%;
}
.estudante-div{
     text-align: center;
}